{% extends 'melsite2/base.html' %}
{% load static %} 

{% block title %}
  <title>About SeekerFinds & Mel</title>
{% endblock %}
{% block content %}
<div class="box_area" style="padding-bottom: 60px"> 
    <div class="container" style="float: left;">
      <div class="container" style="display: flex;">
        <div class="col-5 card card-body text-center" style="flex: 1; flex-basis: 20%; background-color: #ffffff; padding-top:5%">
          <img id="profile-pic" class="img-thumbnail" src="{% static 'images/mb_sm.png' %}"><br><p>Hi, I am Melissa.</p>
        </div>
        <div class="col-5" style="flex: 1; flex-basis: 0.01%; background-color: transparent;">
        </div>
        <div class="col-5 card card-body" style="flex: 1; flex-basis: 50%; background-color:#ffffff;">
          <h5>About Me</h5><br>
            <p style="padding: 4px">I am a graphics designer with interests in data analytics, data engineering, coding, and digital design. In my free time, I enjoy designing, painting, writing, and being with my family.  SeekerFinds is my fledgling design company, also known as seekerfinds.com.</p>
        </div>
        <div class="col-5" style="flex: 1; flex-basis: 10%; background-color: transparent;">
        </div>
      </div>
      <div>
        <button type="button" class="btn btn-outline-secondary btn-sm rounded-2" onclick="history.back ()" style="margin-left:15px; margin-top: 100px;">Go Back</button>
      </div>
    </div>
</div> 
<br>
{% endblock %}
