{% extends 'melsite2/base.html' %}
{% load static %} 

{% block title %}
Project Menu
{% endblock %}

{% block content %}
<br> 
<div class="container-fluid" style="max-width: 900px; margin-left:40px; margin-top: 5px">
    <img src="{% static 'images/laptophand.png' %}" class="rounded card-img" alt="computer_data">
</div>
<div class="p-4">
    <h3 style="margin-left:30px"><b>Project Menu</b></h3>
    <div style="margin-left:40px">
        <q>&nbsp;<a href="/dtsc691menu">DTSC691 Project: UFO Sightings</a></q>
        <br><q>&nbsp;<a href="/fars">FARS Project</a></q>
        <br><q>&nbsp;<a href="/fethealth">Fetal Health Classifier</a></q><br><br><br>
    </div>
    <br><button type="button" class="btn btn-outline-secondary btn-sm rounded-2" onclick="history.back ()" style="margin-left: 10px;">Go Back</button> 
</div>
{% endblock %}
