{% extends 'melsite2/base.html' %}
{% load static %} 

{% block title %}
Test
{% endblock %}

{% block content %}
<!--<iframe width="760px" height="500px" src="https://sway.office.com/s/wnFobO9psYj8trEX/embed" frameborder="0" marginheight="0" marginwidth="0" max-width="100%" sandbox="allow-forms allow-modals allow-orientation-lock allow-popups allow-same-origin allow-scripts" scrolling="no" style="border: none; max-width: 100%; max-height: 100vh" allowfullscreen mozallowfullscreen msallowfullscreen webkitallowfullscreen></iframe>  -->
<div class="display_text">
  <img src="{% static 'images/laptophand.png' %}" alt="computer_data" style="width:100%;">
  <div class="text_inside"><h3>Test</h3></div>
  
</div>
{% endblock %}